{{template "base" .}}

{{define "title"}}Заметка #{{.Snippet.SnippetID}}{{end}}

{{define "main"}}
    {{with .Snippet}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Title}}</strong>
            <span>#{{.SnippetID}}</span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div class='metadata'>
            <time>Создан: {{humanDate .Created}}</time>
            <time>Срок: {{humanDate .Expires}}</time>
        </div>
        <form action='/snippet/delete?id={{.SnippetID}}' method='POST'>
            <input type='submit' value='Delete snippet'>
        </form>
    </div>
    {{end}}
{{end}}